{% extends "plantilla.html" %} {% load static %} {% block titulo %}
<title>Universidad Carreras</title>
{% endblock titulo %} {% block contenido %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center mt-4">Carreras Universitarias</h1>

      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-primary mb-4"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
       + Nueva Carrera
      </button>

      
      {% if carreras %}
      <div class="table-responsive">
        <table class="table table-hover table-striped text-center">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Fecha de Creacion</th>
              <th>Telefono</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for carrera in carreras %}
            <tr>
              <td>{{ carrera.nombre_car }}</td>
              <td>{{ carrera.fecha_creacion_car }}</td>
              <td>{{ carrera.telefono_car }}</td>
              <td>
                <a href="{% url 'editar_carrera' carrera.id_car %}" class="btn btn-warning">Editar</a>
                <a href="javascript:void(0)" onclick="eliminarFila('/eliminar_carrera/{{carrera.id_car}}', 'Carrera')" class="btn btn-danger">Eliminar</a> <!-- Assuming you have a JavaScript function to handle deletion -->
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% else %}
      <div class="alert alert-warning mt-4 text-center">
        <strong>No hay carreras registradas.</strong>
      </div>
      {% endif %}
    </div>

    
  </div>
</div>


<!-- ! Modal Agregar Carrera -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Carrera</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="{% url 'crear_carrera' %}" method="POST">
                {% csrf_token %} <!-- CSRF Token for security -->
                <div class="mb-3"> 
                    <label for="nombreCarrera" class="form-label"> Nombre de la Carrera </label>
                    <input
                      type="text"
                      name="nombre_car"
                      class="form-control"
                      id="nombre_car"
                      placeholder="Ingrese el nombre de la carrera"
                      required>
                </div>
                <div class="mb-3"> 
                    <label for="fechaCreacion" class="form-label"> Fecha de Creacion </label>
                    <input
                      type="date"
                      name="fecha_creacion_car"
                      class="form-control"
                      id="fecha_creacion_car"
                      required>
                </div>
                <div class="mb-3">
                    <label for="telefonoCarrera" class="form-label"> Telefono </label>
                    <input
                      type="text"
                      name="telefono_car"
                      class="form-control"
                      id="telefono_car"
                      placeholder="7723-7392"
                      required>
                </div>
                <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary">Guardar Carrera</button>
          </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>





   

    {% endblock contenido %}
