{% extends "plantilla.html" %} {% load static %} {% block titulo %}
<title>Editar Carrera</title>
{% endblock titulo %} {% block contenido %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center mt-4">Editar Carrera</h1>

      

   <!-- ! Modal Editar Carrera -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
      data-bs-backdrop="static"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Carrera</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form action="{% url 'editar_carrera' carrera.id_car %}" method="POST">
                {% csrf_token %} <!-- CSRF Token for security -->
                <div class="mb-3"> 
                    <label for="nombreCarrera" class="form-label"> Nombre de la Carrera </label>
                    <input
                      type="text"
                      name="nombre_car"
                      class="form-control"
                      id="nombre_car"
                      value="{{ carrera.nombre_car }}"
                      required>
                </div>
                <div class="mb-3"> 
                    <label for="fechaCreacion" class="form-label"> Fecha de Creacion </label>
                    <input
                      type="date"
                      name="fecha_creacion_car"
                      class="form-control"
                      value="{{ carrera.fecha_creacion_car|date:'Y-m-d' }}"
                      id="fecha_creacion_car"
                      required>
                </div>
                <div class="mb-3">
                    <label for="telefonoCarrera" class="form-label"> Telefono </label>
                    <input
                      type="text"
                      name="telefono_car"
                      class="form-control"
                      id="telefono_car"
                      value="{{ carrera.telefono_car }}"
                      required>
                </div>
                <div class="modal-footer">
            <a href="{% url 'carreras' %}"
              type="button"
              class="btn btn-secondary"
            >
              Cancelar
                </a>
            <button type="submit" class="btn btn-primary">Actualizar Carrera</button>
          </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>



<script>
    const modal = document.getElementById('exampleModal');
    document.addEventListener('DOMContentLoaded', function () {
        const myModal = new bootstrap.Modal(modal);
        myModal.show();
    });
       
</script>
  {% endblock contenido %}